.ed {
  &-nav-link {
    color: var(--black) !important;
    opacity: 0.6;
    text-decoration: none;
    font-family: var(--primary-font-family);

    &.router-link-active {
      opacity: 1;
    }
  }

  &-text {
    &-primary {
      font-family: var(--primary-font-family);
    }
  }
}