:root {
  --black: #000;

  --primary-background: #f5f5f5;
  --secondary-background: #fff;
  --accent-background: #fff;

  --image-details-background: rgba(0,0,0,0.5);

  --transparent-background: transparent;
  --primary-font-family: 'Calibri', 'Sans Serif';
}